.App {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 606vh;
  background: rgb(254,77,85);
background: -moz-linear-gradient(171deg, rgba(254,77,85,1) 5%, rgba(216,59,95,1) 75%);
background: -webkit-linear-gradient(171deg, rgba(254,77,85,1) 5%, rgba(216,59,95,1) 75%);
background: linear-gradient(171deg, rgba(254,77,85,1) 5%, rgba(216,59,95,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe4d55",endColorstr="#d83b5f",GradientType=1);
display:flex;
flex-direction: column;
align-items: center;
}
html,body{
  height: 100%;
  margin: 0%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
